Wafer:
  layer: 21

LaunchPad:
  layer: 4
  pad:
    length: 300
    width: 200
    gap:
      length: 400
      width: 500
  trace:
    length: 200
    width: 20
    gap:
      width: 11

FeedLine:
  input:
    type: "LaunchPad"
    pos: [450, 2025] # [750, 2025]
    angle: 0
  output:
    type: "LaunchPad"
    pos: [1950, 500] # [1950, 800]
    angle: 90

  ## If you just want to connect the input and output port,
  ## this is the easiest way.
  ## options are listed in https://phidl.readthedocs.io/en/latest/tutorials/routing.html#List-of-routing-path-types

  path:
    type: "J"
    length1: 790
    length2: 768
    radius: 100

Frame:
  layer: 25
  width: 100
  size:
    height: 4700
    width: 4700

DCLine:
  radius: 100

CornerPoint:
  layer: 4
  width: 10
  gap:
    width: 20
  pos:
    - [ 2150, 2150]
    - [-2150, 2150]
    - [-2150,-2150]
    - [ 2150,-2150]

Resonator:
  layer: 4
  width: 10
  radius: 75
  pad:
    width: 700
    length: 700
  gap:
    width: 6
    

TestPoint:
  layer: 4
  box:
    width: 279
    length: 135
    gap:
      width: 27
  stub:
    width: 18
    length: 68.4
    gap:
      width: 18
      length: 14.4  

# EB line for testing shadow evaporation
EBLine:
    box:
      layer: 2
      width: 2.7
      overlay: 0.27
    finger:
      layer: 1
      inner: 
        width: 0.473
        length: 16.2    
      outer:
        width: 0.608
        length: 10.8


EBMarker:
  layer: 3
  pos: 
    - [     0,      0]
    - [     0,  38400]
    - [-19200, -28800]
    - [ 38400,      0]
    - [     0, -38400]
    - [-19200, -38400]
    - [-38400,      0]

Grid:
  width: [0.105, 0.115, 0.125, 0.135, 0.145, 0.155, 0.165]
  height: [10, 10, 10, 10, 10, 10, 10, 10]
  gap:
    x: 1
    y: 1